*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-weight: 400;
  box-sizing: border-box;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: #ff0000;
  --primary-color: #3CDA5F;
  --secondary-color: #002fa7;
  --ternary-clor: #a4bdfc;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

img,
picture,
svg,
video {
  display: block;
  width: 100px;
  height: 100px;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

header .site-logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 5rem;
}

header a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 5px 20px;
}

header a:hover {
  color: var(--black-color);
  text-decoration: underline;
}

header .user-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .login-icon, .cart-icon {
  color: var(--secondary-color);
  width: 30px;
  height: 30px;
}

header .cart-notification {
  position: absolute;
  top: 50px;
  color: var(--red-color);
  font-weight: bold;
}

/* Home */
.home-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 5em;
  text-align: center;
}

.home-container h1 {
  font-size: 4rem;
}

.home-container p {
  font-size: 2rem;
}

.home-container a, .about-container a, .add-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 20%;
  margin-top: 10px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.remove-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 20%;
  margin-top: 10px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--red-color);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
  color: var(--white-color);
  background-color: var(--black-color);
}

/* Layout */
.site-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

/* About */
.about-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-container h1 {
  font-size: 3rem;
  width: 80%;
}

.about-container p {
  font-size: 1.5rem;
  width: 80%;
  margin-top: 10px;
}

/* Products */
.product-list-filter-buttons {
  position: absolute;
  left: 130px;
  top: 130px;
}

.product-list-filter-buttons .selected {
  background-color: var(--ternary-clor);
  color: var(--black-color);
}

.electronics-type,
.jewelery-type,
.men-clothing-type,
.women-clothing-type,
.clear-filters {
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.electronics-type:hover,
.jewelery-type:hover,
.men-clothing-type:hover,
.women-clothing-type:hover {
  background-color: var(--ternary-clor);
  cursor: pointer;
}

.clear-filters:hover {
  background-color: #ff6868;
  cursor: pointer;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 40px auto 10px auto;
}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  height: 200px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  color: var(--black-color);
  background-color:#f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-container:hover {
  border: 2px solid var(--secondary-color);
}

.product-attribute-container {
  margin-left: 10px;
}

.product-attribute-container h3 {
  margin-bottom: 10px;
}

/* Product Detail */
.product-details-container .back-button {
  display: flex;
  align-self: center;
  position: absolute;
  top: 150px;
  left: 130px;
  font-size: 18px;
  color: var(--black-color);
  text-decoration: none;
  cursor: pointer;
}

.back-button span {
  margin: 0 5px;
  text-decoration: underline;
}

.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 20px;
}

.product-detail-container img {
  width: 300px;
  height: 300px;
}

.detail-attribute-container {
  width: 500px;
  line-height: 1.5;
}

.detail-attribute-container h1 {
  font-size: 32px;
  font-weight: bold;
}

.detail-attribute-container p:nth-child(3) {
  font-size: 20px;
  font-weight: bold;
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;
}

.login-container h1 {
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.login-error {
  color: red;
}

/* Cart */
.cart-container {
  text-align: center;
  font-size: 26px;
}

/* NotFound */
.not-found-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.not-found-container h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.not-found-container .link-button {
  width: 10em;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--black-color);
}